<!doctype html>
<html>
  <head>
    <title>NALCC Aquatic Systems Modelling</title>
    <link rel="stylesheet" type="text/css" href="../css/content.css">
<link rel="stylesheet" href="../css/streams.css" >
<link rel="stylesheet" href="../css/style.css" >
<style type="text/css">
	body{
		background:url(/images/splashscreen_complete.jpg)  no-repeat center center fixed;
		-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;	
}
	div#content {
		font-size:30px;
		top: 300px;
		color:white;
		margin-right: 700px;
		margin-left: 100px;
		height: 200px;
		text-align: center;
		vertical-align: middle;
		position: absolute;
	}
</style>

<script>

var BrowserDetect = {
	init: function () {
		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
		this.version = this.searchVersion(navigator.userAgent)
			|| this.searchVersion(navigator.appVersion)
			|| "an unknown version";
		this.OS = this.searchString(this.dataOS) || "an unknown OS";
	},
	searchString: function (data) {
		for (var i=0;i<data.length;i++)	{
			var dataString = data[i].string;
			var dataProp = data[i].prop;
			this.versionSearchString = data[i].versionSearch || data[i].identity;
			if (dataString) {
				if (dataString.indexOf(data[i].subString) != -1)
					return data[i].identity;
			}
			else if (dataProp)
				return data[i].identity;
		}
	},
	searchVersion: function (dataString) {
		var index = dataString.indexOf(this.versionSearchString);
		if (index == -1) return;
		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
	},
	dataBrowser: [
		{
			string: navigator.userAgent,
			subString: "Chrome",
			identity: "Chrome"
		},
		{ 	string: navigator.userAgent,
			subString: "OmniWeb",
			versionSearch: "OmniWeb/",
			identity: "OmniWeb"
		},
		{
			string: navigator.vendor,
			subString: "Apple",
			identity: "Safari",
			versionSearch: "Version"
		},
		{
			prop: window.opera,
			identity: "Opera",
			versionSearch: "Version"
		},
		{
			string: navigator.vendor,
			subString: "iCab",
			identity: "iCab"
		},
		{
			string: navigator.vendor,
			subString: "KDE",
			identity: "Konqueror"
		},
		{
			string: navigator.userAgent,
			subString: "Firefox",
			identity: "Firefox"
		},
		{
			string: navigator.vendor,
			subString: "Camino",
			identity: "Camino"
		},
		{		// for newer Netscapes (6+)
			string: navigator.userAgent,
			subString: "Netscape",
			identity: "Netscape"
		},
		{
			string: navigator.userAgent,
			subString: "MSIE",
			identity: "Explorer",
			versionSearch: "MSIE"
		},
		{
			string: navigator.userAgent,
			subString: "Gecko",
			identity: "Mozilla",
			versionSearch: "rv"
		},
		{ 		// for older Netscapes (4-)
			string: navigator.userAgent,
			subString: "Mozilla",
			identity: "Netscape",
			versionSearch: "Mozilla"
		}
	],
	dataOS : [
		{
			string: navigator.platform,
			subString: "Win",
			identity: "Windows"
		},
		{
			string: navigator.platform,
			subString: "Mac",
			identity: "Mac"
		},
		{
			   string: navigator.userAgent,
			   subString: "iPhone",
			   identity: "iPhone/iPod"
	    },
		{
			string: navigator.platform,
			subString: "Linux",
			identity: "Linux"
		}
	]

};


function checkBrowser(){
	console.log("CHECKING BROWSER.....");
	BrowserDetect.init();
	console.log(BrowserDetect.browser);
	
	if(BrowserDetect.browser != "Chrome"){
		console.log("USING UNSUPPORTED BROWSER");
		document.getElementById("alert").innerHTML = "Please use Google Chrome for an optimal experience.";
	}
}


</script>

  </head>
  <body onload="checkBrowser();">
	
	<div id="content">
	<p>Select test user to enter web application. </p>
    	  <div id="login">
       	 <form name="login-form" action="/login-user" method="post">
          	<select name="username" style="width: 200px;">
          	  <option value="testuser1">Test User 1</option>
          	  <option value="testuser2">Test User 2</option>
          	  <option value="testuser3">Test User 3</option>
        	  </select> <br>
        	  <input id="time" name="time" value="" style="display:none"></span>
       	   <input class='r-btn' name="login-button" type="submit" value="Enter" style="font-size: 20px;">
        	</form>
    	  </div>
		
		 <div id="alert"></div><br>
		<a href="http://felek.cns.umass.edu:8080/geoserver/www/Web_Map_Viewer.html" style="color:white">Web Map Viewer</a>
	</div>
	  	


	
</div>
      

  </body>
</html>