<% include head %>
<div id="backgroundGraphic" ></div>
<div class="panelBackground" style="opacity:1">
</div>
<div id="logos"><a href="/about" target="_blank">
<ul>
  <li vertical-align: middle><img src="images/three-logos-trans.png" /></li>
  <li vertical-align: middle><span id="beta">alpha version</span></li>
  </ul>
  </a>
</div><div id="inputWrapper">
   <div id="mapwrapper">
      <div id="map">
      </div>
   </div>
   <!--
      <div id="user">
        <p>Logged in as <span class="username"><%= user %></span></p>
        <a href="../login" style="margin-bottom:-40px">Sign Out</a>
      </div>
      -->
   <div id="basinSelection">
      <ul class="basinSelector">
      </ul>
   </div>
   <div id="steps-controls">
      <ul id="accordion">
         <li id="acc7" class="accord-li" state="closed">
            <div class="toggle"><span class="title">Population Ecology</span></div>
            <div class="content">
               <div id="fish-models-app">
			<h2 style="margin: 0; padding: 10px 10px;">Population Ecology</h2>
                   <!--   BOILERPLATE STARTS HERE -->
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
			<!------------------   BOILERPLATE ENDS HERE ------------------>

                  <div class="app_content">
                     <div id="salmon_IPM" class="app">
                       
                        <p>Stocking Count: <span class="countNumber">50</span>
                        <div class="countslider1"></div>
                     </div>
                     <div id="WB_matrix_trout" class="app">

                     </div>
			 <div id="trout_IPM_sensitivity" class="app">

                     </div>
			<div id="salmon_IPM_sensitivity" class="app">

                     </div>

			 <div id="trout_occupancy_CT" class="app active">

                     </div>

                  </div>
                 
               </div>
            </div>
         </li>
         <li id="acc6" class="accord-li" state="closed">
            <div class="toggle"><span class="title">Stream Temperature</span></div>
            <div class="content">
               <div id="streamtemp-flow-app">
			<h2 style="margin: 0;padding: 10px 10px;">Stream Temperature</h2>
                   <!--   BOILERPLATE STARTS HERE -->
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
			<!------------------   BOILERPLATE ENDS HERE ------------------>

                  <div class="app_content">
                  </div>
                 
               </div>
            </div>
         </li>
         <li id="acc5" state="closed" class="accord-li">
            <div class="toggle"><span class="title">Stream Flow</span></div>
            <div class="content">
               <div id="environmental-models-app">
			<h2 style="margin: 0;padding: 10px 10px;">Stream Flow</h2>
                   <!--   BOILERPLATE STARTS HERE -->
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
			<!------------------   BOILERPLATE ENDS HERE ------------------>

                  <div class="app_content">
                  </div>
                  
               </div>
            </div>
         </li>
         <li id="acc4" state="closed" class="accord-li">
            <div class="toggle"><span class="title">Land Cover</span></div>
            <div class="content">
               <div id="land-use-models-app">
			<h2 style="margin: 0;padding: 10px 10px;">Land Cover</h2>
                 <!--   BOILERPLATE STARTS HERE -->
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
			<!------------------   BOILERPLATE ENDS HERE ------------------>

                  <div class="app_content">
                    <div id="lcad_query" class="app" >
					  Development Scenario <div class="styledSelect" id="emissions" style="left:50px">
						 <select name="land" class="emissionsModel" >
						  <option value="Low">Low</option>
						  <option value="Medium">Medium</option>
						  <option value="High">High</option>
					  
						  </select>
						  <div class="selectImage"></div>
					  </div>
					</div>
					<div id="nlcd_query" class="app active" >
										
					</div>
					<div id="change_percent_forest" class="app" >
						<p>Percent change in forest cover: <span class="pctForest">0</span>
			             			<div class="forestSlider"></div>
	 
					</div>
               </div>
            </div>
         </li>
         <li id="acc3" state="closed" class="accord-li">
            <div class="toggle"> <span class="title">Precipitation and Air Temperature</span></div>
            <div class="content">
               <div id="weather-models-app">
			<h2 style="margin: 0;padding: 10px 10px;">Precipitation and Air Temperature</h2>
		    <!--   BOILERPLATE STARTS HERE -->
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
			<!------------------   BOILERPLATE ENDS HERE ------------------>
                  <div class="app_content">
                     <div id="weather_generator" class="app" style="margin-top:8px">
                        <div id="precip01"></div>
                        <div id="graphcontainer1"> </div>
                        <div id="graphcontainer2" style="margin-top:19px;"> </div>
                     </div>
                     <div id="climate_shifted_historic" class="app" style="margin-top: -5px;">
                        </p>				   
                        </p>
                        <div id="precip01"></div>
                        <div id="baselineHistoric_graphcontainer1"> </div>
                        <div id="baselineHistoric_graphcontainer2" style="margin-top:19px;"> </div>
                        </p>
                        <p>
                     </div>
                     <div id="climate_historic" class="app active">
                     </div>
                     <div id="gcm_downscaled" class="app">
				 Emissions Scenario (RCP) <div class="styledSelect_" id="emissions_scenario" >
						 <select name="land" class="emissionsScenario" >
						  <option value="2.6">2.6</option>
						  <option value="4.5">4.5</option>
						  <option value="6.0">6.0</option>
					  	  <option value="8.5">8.5</option>

						  </select>
						  <div class="selectImage"></div>
					  </div>
				 CMIP5 (RCP) <div class="styledSelect_" id="proj_drop" >
						 <select name="land" class="profDropdown" >
						  <option value="bcc (csm1-1)">bcc (csm1-1)</option>
						  <option value="ccsm4 (1)">ccsm4 (1)</option>
						  <option value="ccsm4 (2)">ccsm4 (2)</option>
					  	  <option value="gfdl (esm2g)">gfdl (esm2g)</option>
						  <option value="gfdl (esm2m)">gfdl (esm2m)</option>
						  <option value="ipsl (cm5a-lr)">ipsl (cm5a-lr)</option>
						  <option value="ipsl (cm5a-mr)">ipsl (cm5a-mr)</option>
					  	  <option value="miroc (esm)">miroc (esm)</option>
						  <option value="miroc (esm-chem)">miroc (esm-chem)</option>
						  <option value="miroc5">miroc5</option>
						  <option value="mri (cgcm3)">mri (cgcm3)</option>
					  	  <option value="noresm1 (m)">noresm1 (m)</option>



						  </select>
						  <div class="selectImage"></div>
					  </div>

                     </div>
                     <div id="temp_extreme" class="app">
                     </div>
                     <div id="drought_extreme" class="app">
                     </div>
                  </div>
                  </p>
               </div>
            </div>
         </li>
         <li id="acc2" state="closed" class="accord-li">
            <div class="toggle"><span class="title">Clip Basin by Barrier</span></div>
            <div class="content">
               <div id="barriers-app" class="application" >
			<h2 style="margin: 0;padding: 10px 10px;">Clip Basin by Barrier</h2>
                  <div id="toolbar">
                     <div class="r-btn active" id="new-run-button">New Run</div >
                     <div class="r-btn" id="saved-run-button">Saved Run</div >
                     <div class="r-btn" id="no-run-button">No Model</div >
                  </div>
 			<!--  <a class="createnew" href="#">Create New</a> -->
			<!--  ----------------- SAVED RUNS --------------------- -->
                  <div class="SAVED-RUN" style="display:none">
			<p class='run-name'> Name: </p>

		    	<div class="runTypeSelect">
                    	 <select name="runType" class="selectRun">
                        	<option>Select Run from Dropdown</option>
                      </select>
                    	 <div class="selectImage"></div>
                  	</div>
		    </div>
		    <!--  ----------------- END SAVED RUNS --------------------- -->
		    <!--  ----------------- NEW RUNS --------------------- -->
		    <div class="NEW-RUN" >
			 
			<p class='run-name'> Name: </p>
                 	 <div class="runModel" >
				

                    	 	<input type="text" class="runInput" value="" placeholder=" Enter a Run Name"  ></input><br>
                	 </div>
		    </div>
			<!--  ----------------- END NEW RUNS --------------------- -->
			<!--  ----------------- NO MODEL BUFFER ------------------ -->
			<div class="NO-MODEL" style="display:none; height:65px;width:40px">
	
			</div>
			<!--  ----------------- NO MODEL BUFFER ------------------ -->

			<!--  CONTENT -->
			                   <p style="margin-top: 10px;"> Model: </p>
 		    <div class="styledSelect" id="modelDropdown">
                   	 <select name="barrier" class="selectRun">
                    	 </select>
                     <div class="selectImage"></div>
                 	 </div>
                  <div id="barriers-container" style="margin-top: 15px;">
                  </div>
		    <!-- END CONTENT -->

               </div>
            </div>
         </li>
         <li id="acc1" state="closed" style="display:none;" class="accord-li">
            <div class="toggle"><span class="title">Basin</span></div>
            <div class="content">
               <div id="basin-app" class="application">
                  <div id="prompt_header">
                     <br>
                     <h2>
                        <center>
                           <div id="basinTitle">Basin: West Brook</div>
                        </center>
                     </h2>
                  </div>
                  <div id="prompt">
                     <center>
				<div id='toolbar'>
			    <div class='r-btn active' id="saved_basin" style="width: 125px;margin-left: 19px;">Saved Basin</div >
                        <div class='r-btn' id="newBasin" style="width: 125px;">Change Basin</div ><br></div>
				<center><p id="basin_name" style="font-size:25px; color:black;margin-top:50px;">West Brook</p></center>
                     </center>
                  </div>
                  <div id="sim">
                     <center>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2>Simulation Period</h2>
                        <span class="years">30</span> Years
                        <div id="years_slider" style="width:200px"></div>
                     </center>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div id="tree">
      <ul id="thumbLabels">
         <li>Basin</li>
         <li>Barrier</li>
         <li>Climate</li>
         <li>Land</li>
         <li>Flow</li>
         <li>Temperature</li>
         <li>Population</li>
      </ul>
   </div>
</div>
<div id="outputWrapper">
   <div id="outputTree">
      <div id="treeContainer">
         <span id="treeTitle">Run Selection</span>
         <ul>
            <li>Basin</li>
            <li>Barrier</li>
            <li>Climate</li>
            <li>Land Use</li>
            <li>Stream Flow</li>
            <li>Stream Temperature</li>
            <li>Fish Population</li>
         </ul>
      </div>
   </div>
   <div id="outputSelector">
      <div id="graphContainer">
         <span id="outputTitle">Output Graph Selection</span>
         <!-- COMMENTED OUT FOR NOW
            <ul>
            	<li>Basin</li>
            	<li>Climate</li>
            	<li>Land Use</li>
            	<li>Stream Flow</li>
            	<li>Stream Temperature</li>
            	<li>Fish Population</li>
            </ul>
            -->
         <div id="graphSelectionButtons">
            <button id="view_climate">View Climate, Flow, and Temperature Graphs</button>
            <button id="view_population">View Population Graphs</button>
         </div>
         <div id="inputDropBox">
         </div>
      </div>
   </div>
   <div id="runList">
      <span id="run-list-title">Run Log</span>
      <div class="filter">
         <div class="filterSelector">
            <select onchange="filterHistoryResize(this)">
               <option value="step">Step</option>
               <option value="model">Model</option>
               <option value="basin" disabled>Basin ID</option>
            </select>
         </div>
         <div class="filterWindow" id="step">
            <input type="checkbox" class="filterCheckBox" id="1" onchange=sortHistory(); value="climate">Climate<br>
            <input type="checkbox" class="filterCheckBox" id="2" onchange=sortHistory(); value="flow">Stream Flow<br>
            <input type="checkbox" class="filterCheckBox" id="3" onchange=sortHistory(); value="land">Land Use<br>								
            <input type="checkbox" class="filterCheckBox" id="4" onchange=sortHistory(); value="population">Fish<br>
            <input type="checkbox" class="filterCheckBox" id="5" onchange=sortHistory(); value="streamtemp">Stream Temperature
         </div>
         <div class="filterWindow" id="model">
            <input type="checkbox" class="filterCheckBox" id="6" onchange=sortHistory(); value="lcad_query">LCAD Query<br>
            <input type="checkbox" class="filterCheckBox" id="7" onchange=sortHistory(); value="weather_generator">Stochastic Weather Generation<br>
            <input type="checkbox" class="filterCheckBox" id="8" onchange=sortHistory(); value="baseline_shift">Baseline Shifted Climate<br>
            <input type="checkbox" class="filterCheckBox" id="9" onchange=sortHistory(); value="baseline_historic">Historic Climate<br>
            <input type="checkbox" class="filterCheckBox" id="10" onchange=sortHistory(); value="gcm_downscaled">GCM Downscaled Time Series<br>
            <input type="checkbox" class="filterCheckBox" id="11" onchange=sortHistory(); value="temp_extreme">Temperature Extreme<br>
            <input type="checkbox" class="filterCheckBox" id="12" onchange=sortHistory(); value="drought_extreme">Drought Extreme<br>
            <input type="checkbox" class="filterCheckBox" id="13" onchange=sortHistory(); value="WB_matrix_trout">Trout Pop. Growth Sensitivity<br>
            <input type="checkbox" class="filterCheckBox" id="14" onchange=sortHistory(); value="salmon_IPM">Salmon Pop. Growth Model
         </div>
         <div class="statusFilter">
            <p> STATUS </p>
            <input type="checkbox" class="filterCheckBox" id="1" onchange=sortHistory(); value="COMPLETED" >Completed<br>
            <input type="checkbox" class="filterCheckBox" id="2" onchange=sortHistory(); value="FAILED" >Failed<br>
            <input type="checkbox" class="filterCheckBox" id="3" onchange=sortHistory(); value="CANCELLED" >Cancelled<br>
            <input type="checkbox" class="filterCheckBox" id="4" onchange=sortHistory(); value="QUEUED" >Queued
         </div>
      </div>
      <ul id="history-labels">
         <li onclick=sortHistory('alias'); d-type="alias" d-sorter="1">Alias</li>
         <li onclick=sortHistory('step'); d-type="step" d-sorter="1">Step</li>
         <li onclick=sortHistory('script'); d-type="script" d-sorter="1">Model</li>
         <li onclick=sortHistory('basinid'); d-type="basinid" d-sorter="1">Basin ID</li>
         <li onclick=sortHistory('start_time'); d-type="start_time" d-sorter="1">Start Time</li>
         <li onclick=sortHistory('status'); d-type="status" d-sorter="1">Status</li>
         <li>Link</li>
      </ul>
      <ul id="history-list">
      </ul>
   </div>
</div>
<div id="graphWrapper">
   <div id="graphBar"></div>
   <div id="graphBoxContainer">
      <!--<ul id="graph_ul"></ul>-->
   </div>
</div>
<div id="navigationBar" style="display:none;margin-top:221px; margin-left:-24px">
   <ul id="nav">
       <li><button id="inputButton" class="navButton">Model Settings</button></li>
       <li><button id="outputButton" class="navButton">Run Tree</button></li>
       <li><button id="historyButton" class="navButton">Run Log</button></li>
       <li><button id="graphButton" class="navButton">Output Graphs</button></li>
   </ul>
   <ul id="login">
	<li><a href="../login" id="logoutButton">Log Out</a></li>
	<li><a href="../login" id="dashboardButton">Dashboard</a></li>
   </ul>
</div>
<div id="loginBar" state="closed">
   <div id="loginButton"> </div>
   <h3 class="loginstatus">Logged in as <span class="username"><%= user %></span><br>
      <a href="../login" style="margin-bottom:-40px">Sign Out</a>
   </h3>
</div>

<div id="debug">
   <div id="set-debug">SET DEBUG</div>
</div>
<div id="active_step" style="display:none">
   <div id="active_name">Choose a Step</div>
   <br />
   <b style='margin-top:20px'>Step Name:</b> 
   <i>
      <div id="active_stepname" >Climate</div>
   </i>
   <hr>
   <b>Script Name:</b>  
   <i>
      <div id="active_scriptname" >StochasticWeatherGenerator.R</div>
   </i>
   <hr>
   <b>Date of Run:</b>  
   <i>
      <div id="active_data">7/20/13</div>
   </i>
   <hr>
</div>
<% include foot %>