#debug{
	
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	
	cursor:pointer;
	position:absolute;
	
	top:-100px;
	
	height:50px;
	width:100px;
	
	background:white;
	text-align:center;
	
}


